[paths]
# When exeuting tests in different
# containers, we do not mount the whole repo, but specific
# folders.
# We need this so that coverage can find the source code
# when doing the report.
# 'asdf3' and 'asfd4' could be on the same line?
asdf =
    /daas/decompilers/
    /decompilers/
asdf2 =
    /daas/meta_extractor/
    /meta_extractor/
asdf3 =
    /daas/daas/daas/
    /daas/daas/
asdf4 =
    /daas/daas/daas_app/
    /daas/daas_app/
