version: '3.7'
services:
  api:
    image: metalion25/daas_api
    command: bash -c "python3 /daas/manage.py collectstatic --no-input && cd /daas/ && gunicorn daas.wsgi --timeout 300 -b 0.0.0.0:8001"
    volumes:
      - ./daas:/daas
      - /daas/daas_app/tests/resources/ # to not mount tests resources
      - ./static:/static
      - ./gunicorn_config/:/home/root/conf
    expose:
      - "8001"
      - "4567"
      - "4667"
  
  db:
    image: postgres:10.5
    expose:
      - "5432"
    volumes:
      - ../postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: daas
      POSTGRES_PASSWORD: iamaweakpassword
      POSTGRES_DB: daas
  
  nginx:
    image: nginx:1.15.8
    volumes:
      - ./nginx_config:/etc/nginx/conf.d
      - ./certificates/etc_ssl_certs:/etc/ssl/certs
      - ./certificates/etc_ssl_private:/etc/ssl/private
      - ./nginx_snippets:/etc/nginx/snippets
      - ./daas/static:/static_files
    ports:
      - "80:80"
      - "443:443"

  meta-extractor-worker:
    image: metalion25/daas_meta_extractor_worker
    command: bash -c "rq worker --path / --url redis://redis-task-queue:6379/0 unknown unknown_requeued --name agent_$$(hostname -I | cut -d' ' -f1)_$$(echo $$RANDOM)__$$(date +%s)"
    volumes:
      - ./meta_extractor:/daas
  
  java-worker:
    image: metalion25/daas_java_worker
    command: bash -c "rq worker --path / --url redis://redis-task-queue:6379/0 java_queue --name agent_$$(hostname -I | cut -d' ' -f1)_$$(echo $$RANDOM)__$$(date +%s)"
    volumes:
      - ./decompilers:/daas
    tmpfs:
      - /tmpfs
  
  pe-worker:
    image: metalion25/daas_pe_worker
    command: bash -c "rq worker --path / --url redis://redis-task-queue:6379/0 pe_queue --name agent_$$(hostname -I | cut -d' ' -f1)_$$(echo $$RANDOM)__$$(date +%s)"
    volumes:
      - ./decompilers:/daas
      - ./utils/just_decompile:/just_decompile/
    tmpfs:
      - /tmpfs
  
  flash-worker:
    image: metalion25/daas_flash_worker
    command: bash -c "rq worker --path / --url redis://redis-task-queue:6379/0 flash_queue --name agent_$$(hostname -I | cut -d' ' -f1)_$$(echo $$RANDOM)__$$(date +%s)"
    volumes:
      - ./decompilers:/daas
    tmpfs:
      - /tmpfs
  
  seaweedfs-master:
    image: metalion25/daas_seaweedfs_master
    command: ./seaweed master
    ports:
      - "9333:9333"
    expose:
      - "19333"
  
  seaweedfs-volume:
    image: metalion25/daas_seaweedfs_volume
    command: ./seaweed volume -dir=/volume_data -max=1 -mserver=seaweedfs-master:9333 -port=8080
    volumes:
       - ../seaweedfs-data:/data
    ports:
      - "8080:8080"
    expose:
      - "18080"
  
  seaweedfs-filer:
    image: metalion25/daas_seaweedfs_filer
    command: ./seaweed filer -master=seaweedfs-master:9333 -port=8888
    volumes:
      - ./seaweedfs:/etc/seaweedfs/
    expose:
      - "8888"
      - "18888"

  redis-task-queue:
    image: redis:5.0.6
    expose:
      - "6379"
  
  redis-statistics:
    image: redis:5.0.6
    command: "redis-server --port 6380 --appendonly yes"
    volumes:
      - ../statistics-data:/data
    expose:
      - "6380"
