requests
rq
python-magic
Django==2.0.6
psycopg2==2.7.4
pycodestyle==2.4.0
djangorestframework==3.8.2
django-filter==2.0.0
dj-pagination==2.3.2
django-widget-tweaks==1.4.3
drf-dynamic-fields==0.3.0
coverage==4.5.1
gunicorn==19.9.0
