requests
redis
rq
python-magic
Django
psycopg2-binary
djangorestframework
django-filter
#dj-pagination
git+https://github.com/Inergis/dj-pagination.git@b0ee342d3a585403ec874b817aff57dc2af78579
django-widget-tweaks
drf-dynamic-fields
gunicorn
django-extensions
django-redis
pyecharts
bottleneck
drf-yasg
pyseaweed
django-request
python-strtobool
