requests==2.22.0
redis==3.3.11
rq==1.1.0
python-magic==0.4.15
Django==5.0
psycopg2-binary==2.8.4
djangorestframework
django-filter
dj-pagination
django-widget-tweaks
drf-dynamic-fields
gunicorn==19.9.0
django-extensions
django-redis
pyecharts==1.5.1
bottleneck==1.3.2
drf-yasg
pyseaweed==1.0.2
django-request
