{% extends "daas_app/layout/base.html" %}

{% block title %}API Documentation{% endblock %}

{% block body %}
<div class="documentation">
    <h1>API</h1>
    The api provides different methods listed below.

    Most, if not all, of the examples written were created using a testing database.
    So, the information returned may differ for result of the API calls. However, the format will be exactly the same in both this documentation and the real API methods.
    <br><br>
    <!--- warning about certificate
    <div class="alert alert-warning" role="alert">
        Warning: Currently, we are using a self-signed certificate to send messages over https instead of http.
        You must ignore the certificate validation or otherwise requests will probably fail.
        In python requests' library, this is easy doable adding "verify=False",
        as you will see in all the examples.
    </div>
    --->
    <br>
    <h2>Get your token!</h2>
    <ul>
        <li>Method: POST</li>
        <li>Post parameters: Username and Password</li>
        <li>Query params: None</li>
        <li>Response: A JSON with your token.</li>
    </ul>
    This is used to obtain the token for your user, in order to use the rest of the API.
<pre>>>> requests.post('http://127.0.0.1/api/v1/get_token/',
    verify=False,
    data={'username': 'root','password': '*******'}).json()

{'token': 'c380822274e3a62427206d74896b46e376bb7fbd'}


>>> requests.post('http://127.0.0.1/api/v1/get_token/',
                  verify=False,
                  data={'username': 'root','password': '*******'}).status_code

200
</pre>

    If you provide an invalid user or password, you will get this instead:
<pre>>>> requests.post('http://127.0.0.1/api/v1/get_token/',
    verify=False,
    data={'username': 'root','password': 'invalidPassword'}).json()

    {u'error': u'Invalid Credentials'}


>>> requests.post('http://127.0.0.1/api/v1/get_token/',
                  verify=False,
                  data={'username': 'root','password': 'invalidPassword'}).status_code

404

>>> requests.post('http://127.0.0.1/api/v1/get_token/',
                  verify=False,
                  data={'username': 'invalidUser','password': 'asdf'}).json()

{u'error': u'Invalid Credentials'}


>>> requests.post('http://127.0.0.1/api/v1/get_token/',
                  verify=False,
                  data={'username': 'invalidUser','password': 'asdf'}).status_code

404</pre>

    <h3>Craft your authorization header</h3>
    This section explains how to use your token.
    You will need a token. Then, craft a header using 'Authorization' as key and 'Token <your_token>' as value.
<pre>
>>> response = requests.post('http://127.0.0.1/api/v1/get_token/',
                        verify=False,
                        data={'username': 'root','password': '*******'}).json()

>>> response
{'token': 'c380822274e3a62427206d74896b46e376bb7fbd'}

>>> token = response['token']

>>> token
'c380822274e3a62427206d74896b46e376bb7fbd'

>>> headers = {'Authorization': 'Token ' + token}

>>> headers
{'Authorization': 'Token c380822274e3a62427206d74896b46e376bb7fbd'}
</pre>
    <br><br>
    <h2>Get all families</h2>
    <ul>
        <li>Method: GET</li>
        <li>Uri parameters: None
        <li>Query params: fields (optional), omit (optional) - <a href="#fields_and_omit_example">[Usage examples]</a></li>
        <li>Response: list of JSON with family ID and family name.</li>
    </ul>
    
    You will get the name and the ID of all enabled families, but no the aliases:

<pre>>>> requests.get('http://127.0.0.1/api/v1/all_families/',
                    verify=False,
                    headers=headers).json()[:3]

[{u'id': 18, u'name': u'trojan'}, {u'id': 19, u'name': u'1clickdownload'},
    {u'id': 20, u'name': u'4shared'}]</pre>

    This is aimed to quickly query all families to display them somewhere,like a combobox to choose one of them.

<br><br>
    <h2 id="get_samples_from_hashes">Get samples from hashes</h2>
    <ul>
        <li>Method: GET</li>
        <li>Uri parameters: None
        <li>Query params: fields (optional), omit (optional)</li>
        <li>Response: list of JSON with family data.</li>
    </ul>
    

<pre>>>> response = requests.get('http://127.0.0.1/api/v1/get_samples_from_hashes/',
                          verify=False,
                          headers=headers)</pre>

    The result is a list of json elements. For example, we will show elements #11, #100 and #210.

    Element #11:
<pre>>>> response.json()[11]

{u'description': u'Adam Locker is a ransomware that encrypts targeted
    files on a victims system but offers them a free decryption key
    which can be accessed through Adf.lya URL shortening and
    advertising service.',
u'tags': [], u'extension_set': [], u'mutex_set': [], u'platforms': [u'windows'],
u'filename_set': [], u'alias_set': [u'adamlock', u'adamlocker'], u'id': 1479,
u'categories': [u'ransomware'], u'suricata_set': []}</pre>

    Element #100:
<pre>>>> response.json()[100]

{u'description': u'', u'tags': [], u'extension_set': [], u'mutex_set': [],
u'platforms': [], u'filename_set': [], u'alias_set': [u'appster'], u'id': 2313,
u'categories': [u'pua'], u'suricata_set': []}</pre>

    Element #210:
<pre>>>> response.json()[210]

{u'description': u'Bedep engages in advertising fraud by forcing the
affected device to visit unsolicited websites. These sites typically
generate profit from displaying advertising contentwhich increases
with a higher volume of web traffic.',
u'tags': [], u'extension_set': [], u'mutex_set': [], u'platforms': [u'windows'],
u'filename_set': [], u'alias_set': [u'bedep'], u'id': 1623,
u'categories': [u'trojan'], u'suricata_set': []}</pre>

    <h3 id="fields_and_omit_example">Using "fields" and "omit" parameters</h3>
    Also, we can use the "fields" parameter to specify some fields and "omit" exclude other fields.
    This will lead to faster replies from the API.

<pre>>>> response = requests.get('http://127.0.0.1/api/v1/all_families_with_data/?fields=name',
                          verify=False,
                          headers=headers)
>>> response.json()[1]
{u'name': u'1clickdownload'}

>>> response = g('http://localhost/api/v1/all_families_with_data/?omit=name'
>>> response.json()[1:4]

[{u'description': u'', u'tags': [], u'extension_set': [u'asd'], u'mutex_set': [],
  u'platforms': [], u'filename_set': [], u'alias_set': [u'1clickdownload',
  u'oneclickdownload', u'oneclickdownloader'], u'id': 3, u'categories': [],
  u'suricata_set': [u'fjhjghj']},
{u'description': u'', u'tags': [], u'extension_set': [], u'mutex_set': [],
 u'platforms': [], u'filename_set': [], u'alias_set': [u'4share', u'4shared',
 u'getfaster'], u'id': 4, u'categories': [], u'suricata_set': []},
{u'description': u'9002 is a Remote Access Trojan (RAT) used in different campaigns.',
 u'tags': [], u'extension_set': [], u'mutex_set': [u'zx&lt;z'], u'platforms': [],
 u'filename_set': [], u'alias_set': [u'9002', u'hydraq', u'mcrat', u'mdmbot', u'naid'],
u'id': 1528, u'categories': [u'rat'], u'suricata_set': []}]</pre>

    Also, we can pass multiple values to "fields" and "omit":
<pre>>>> response = requests.get('http://localhost/api/v1/all_families_with_data/?fields=name,id,platforms',
                          verify=False,
                          headers=headers)
>>> response.json()[1:4]

[{u'platforms': [], u'id': 3, u'name': u'1clickdownload'},
{u'platforms': [], u'id': 4, u'name': u'4shared'},
{u'platforms': [], u'id': 1528, u'name': u'9002'}]</pre>

    <br><br>
    <h2>Get all families from a given text</h2>
    <ul>
        <li>Method: POST</li>
        <li>Post parameters: text
        <li>Query params: fields (optional), omit (optional) - <a href="#fields_and_omit_example">[Usage examples]</a></li>
        <li>Response: list of JSON with family information for every family associated with an alias found on the text.</li>
    </ul>
    
    <ol>
    These are the steps made by this feature:
        <li>Find all aliases present on a text.</li>
        <li>Replace all aliases found by the family associated to that alias.</li>
        <li>Remove duplicate families.</li>
        <li>Remove disabled families.</li>
    </ol>
    
    This aims to tag news based on the aliases found in the text.

<pre>>>> requests.post('http://127.0.0.1/api/v1/families_from_text/',
    verify=False,
    headers=headers,
    data={'text':'New variant of activshop discovered'}).json()

[{u'name': u'activshopper', u'tags': [], u'extension_set': [], u'mutex_set': [],
  u'platforms': [], u'filename_set': [], u'suricata_set': [],
  u'alias_set': [u'activshop', u'activshopper'], u'id': 7, u'categories': [],
  u'description': u''}]</pre>

    As we see here, the text has the alias "activshop" but the request returned "activshopper" (the name of the family).

    <br><br>
    <h2 id="alias_to_family">Get the family associated to certain alias</h2>
    <ul>
        <li>Method: GET</li>
        <li>Uri parameters: alias
        <li>Query params: fields (optional), omit (optional) - <a href="#fields_and_omit_example">[Usage examples]</a></li>
        <li>Response: JSON with family ID and family name for the given alias.</li>
    </ul>
    
    This feature is useful for any application that uses this service.
    Here is an example of a found alias with the same name as its associated family:

<pre>>>> requests.get('http://127.0.0.1/api/v1/family_from_alias/stuxnet/',
                      headers=headers,
                      verify=False).json()

{u'name': u'stuxnet', u'tags': [], u'extension_set': [], u'mutex_set': [],
u'platforms': [], u'filename_set': [], u'suricata_set': [],
u'alias_set': [u'stuxnet'], u'id': 441, u'categories': [], u'description': u''}</pre>

    Another example, now using an alias of trojan:

<pre>>>> requests.get('http://127.0.0.1/api/v1/family_from_alias/dojos/',
                      headers=headers,
                      verify=False).json()

{u'name': u'trojan', u'tags': [], u'extension_set': [], u'mutex_set': [],
 u'platforms': [], u'filename_set': [], u'suricata_set': [],
 u'alias_set': [u'0000010c', u'000c'], u'id': 1, u'categories': [], u'description': u''}

Note: Lots of alias were not listed because the list was extremely large!</pre>

    This will be the response if the alias isn't found:

<pre>>>> requests.get('http://127.0.0.1/api/v1/family_from_alias/this_alias_does_not_exist/',
                      headers=headers,
                      verify=False).json()

{'id': -1, 'name': 'not_an_alias'}</pre>

    If the family is disabled, `not_an_alias` will be returned instead, as in the previous example.

<pre>>>> requests.get('http://127.0.0.1/api/v1/family_from_alias/golden eye/',
                      headers=headers,
                      verify=False,).json()

{'id': -1, 'name': 'not_an_alias'}</pre>

    We can also use spaces if needed, using real spaces or %20:

<pre>>>> requests.get('http://127.0.0.1/api/v1/family_from_alias/explorer hijack/',
                      headers=headers,
                      verify=False).json()

{u'name': u'trojan', u'tags': [], u'extension_set': [], u'mutex_set': [],
 u'platforms': [], u'filename_set': [], u'suricata_set': [],
 u'alias_set': [u'0000010c', u'000c'], u'id': 1, u'categories': [],
 u'description': u''}

Note: Lots of aliases were not listed because the list was extremely large!
</pre>

<pre>>>> requests.get('http://127.0.0.1/api/v1/family_from_alias/explorer%20hijack/',
                      headers=headers,
                      verify=False).json()

{u'name': u'trojan', u'tags': [], u'extension_set': [],
 u'mutex_set': [], u'platforms': [], u'filename_set': [],
 u'suricata_set': [], u'alias_set': [u'0000010c', u'000c'],
 u'id': 1, u'categories': [], u'description': u''}

Note: Lots of aliases were not listed because the list was extremely large!</pre>

    <br><br>
    <h2>Get the family associated to each alias</h2>
    <ul>
        <li>Method: GET</li>
        <li>Uri parameters: None
        <li>Query params: alias (use comma as separator to add more than one)</li>
        <li>Response: JSON using alias as keys and results for every alias as values.</li>
    </ul>

    For details on how it works, it's recommended to read <a href="#alias_to_family">alias from family API method</a>.

<pre>>>> requests.get('http://127.0.0.1/api/v1/families_from_aliases_api?alias=180solutions,oo',
                      headers=headers,
                      verify=False).json()

{"180solutions": {"id": 1219, "name": "180solutions", "platforms": [],
 "categories": [], "tags": [], "alias_set": ["180solutions", "teststestestes"],
 "description": "", "suricata_set": [], "extension_set": [], "mutex_set": [],
 "filename_set": []},
"oo": {"id": -1, "name": "not_an_alias"}}</pre>

        <br><br>
        <h2>Get families and alias using avclass file format</h2>
    <ul>
        <li>Method: GET</li>
        <li>Uri parameters: None
        <li>Query params: None</li>
        <li>Response: String with the following format: "alias family\nalias family\nalias family".</li>
    </ul>
    <div class="panel panel-info">
      <div class="panel-heading">Advice</div>
      <div class="panel-body">
              This file format is designed only to be compatible with avclass. If you want to get all families and their aliases, it's recommended to use the following call instead:
<pre>http://127.0.0.1/api/v1/all_families_with_data/?fields=name,alias_set</pre>
Click <a href="#families_with_data">here</a> for more details.
      </div>
    </div>



    If you need the avclass format, then you should use this call:
<pre>>>> requests.get('http://127.0.0.1/api/v1/alias_file',
                      headers=headers,
                      verify=False).json()

"oneclickdownload 1clickdownload\noneclickdownloader 1clickdownload\n4share 4shared\ngetfaster 4shared"

(The result were trimmed because it was really long).</pre>

    It will look this way if you write into a file and then display it:
<pre>oneclickdownload 1clickdownload
oneclickdownloader 1clickdownload
4share 4shared
getfaster 4shared</pre>

        <br><br>
        <h2>Get families based on their tags</h2>
    <ul>
        <li>Method: GET</li>
        <li>Uri parameters: None
        <li>Query params: tags (use comma as separator to use multiple tags)</li>
        <li>Response: List of strings: ['family name 1', 'family name 2', ...] (families with at least one of the sent tags).</li>
    </ul>

For instance:
<pre>>>> requests.get('http://127.0.0.1/api/v1/get_families_with_tags_api/?tags=downloader,another_tag',
                      headers=headers,
                      verify=False).json()

["oneclickdownload", "4shared", ...]</pre>

</div>
{% endblock %}