{% extends "daas_app/layout/base.html" %}
<!-- Based on code from the documentation of pyecharts:
     https://pyecharts.org/#/en-us/django
     Note: The chinese version of pyecharts' docs are usually more updated. -->

{% block title %}Statistics{% endblock %}

{% block extra_head %}
    {% load staticfiles %}
    <link href="{% static "css/statistics.css" %}{{ release_number }}" rel="stylesheet">

    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
{% endblock %}

{% block page_width %}100%{% endblock %}

{% block body %}
    
    <div id="{{ chart.id }}" style="width:1460px; height:650px;"></div>
    <script>
        // we calculate here style proportions because width and height must be specified in pixels,
        // otherwise echarts library does not work.
        var width_style = "width:" + document.body.clientWidth * 0.94 + "px;"
        var height_style = "height:" + document.body.clientHeight * 0.82 + "px;"
        var padding_style = "margin-left: 3%;" // specified here because otherwise the setAttribute overrides it.
        document.getElementById('{{ chart.id }}').setAttribute("style", width_style + height_style + padding_style);
    
        // load chart
        var chart = echarts.init(document.getElementById('{{ chart.id }}'), 'white', {renderer: 'canvas'});

        $(
            function () {
                fetchData(chart);
            }
        );

        function fetchData() {
            $.ajax({
                type: "GET",
                url: document.location.protocol +"//{{request.get_host}}{{ chart.url }}",
                dataType: 'json',
                success: function (result) {
                    chart.setOption(result.data);
                }
            });
        }
    </script>
{% endblock %}
