{% extends "daas_app/base.html" %}
{% load pagination_tags %}

{% block extra_head %}
    {% load staticfiles %}
    <link href="{% static "css/pagination.css" %}" rel="stylesheet">
{% endblock %}


{% block title %}DaaS{% endblock %}

{% block body %}
<br><br><br>
{% autopaginate sample_filter.qs 5 as paginated %}
{% include 'daas_app/search.html' with form=sample_filter.form filter=sample_filter %}
{% if sample_filter.qs %}
<ul>
    {% for sample in paginated %}
        <div class="panel panel-default">
            <div class="panel-heading" style="column-count: 2;">
                <img src="{% static "images/file_types/"|add:sample.file_type|add:".png" %}" width=30 height=30 /><b>&nbsp;&nbsp;{{ sample.name }}</b>
                <div align="right">{{ sample.uploaded_on }}</div>
            </div>
            <div class="panel-body">
                <b>Hashes:</b>
                <ul>
                    <li>MD5: {{ sample.md5 }}</li>
                    <li>SHA1: {{ sample.sha1 }}</li>
                    <li>SHA2: {{ sample.sha2 }}</li>
                </ul>
                <br>
                {% if sample.finished %}
                    {% if sample.decompiled %}
                        <b>Elapsed time:</b> {{ sample.result.elapsed_time }} seconds.
                    {% elif sample.result.timed_out %}
                        <b>Timeout reached</b> after {{ sample.result.timeout }} seconds.
                    {% elif sample.redis_job.is_cancelled %}
                        <b>Cancelled</b>
                    {% else %}
                        <b>Error decompiling:</b> {{ sample.result.decompiler }} was not able to decompile this file. Is this a valid {{ sample.file_type }}?
                    {% endif %}
                {% else %}
                    <i>{{ sample.status }}... </i><i class="fa fa-spinner fa-spin" style="font-size:20px"></i>
                {% endif %}
                
                </br></br>

                {% url 'download_sample' sample.id as download_sample_url %}
                {% include "daas_app/button.html" with button_class="btn-primary" show=sample.content_saved enable=perms.daas_app.download_sample_permission url=download_sample_url icon_class="fa fa-download" text="Download Sample" %}

                {% url 'download_source_code' sample.id as download_source_url %}
                {% include "daas_app/button.html" with button_class="btn-primary" show=sample.decompiled enable=perms.daas_app.download_source_code_permission url=download_source_url icon_class="fa fa-file-code-o" text="Download Source Code" %}

                {% url 'cancel_job' sample.redis_job.pk as cancel_job_url %}
                {% include "daas_app/button.html" with button_class="btn-danger" show=sample.unfinished enable=perms.daas_app.cancel_job_permission url=cancel_job_url icon_class="fa fa-close" text="Cancel Task" %}

                {% if sample.finished %}
                    <button data-toggle="collapse" class="btn btn-info" data-target="#details_of_{{ sample.id }}"><i class="fa fa-info-circle"></i> Details</button>
                {% endif %}

                <div style="float: right;">
                    {% url 'reprocess' sample.id as reprocess_url %}
                    {% if sample.result.decompiled_with_latest_version %}
                        {% include "daas_app/button.html" with button_class="btn-warning" show=sample.is_possible_to_reprocess enable=perms.daas_app.upload_sample_permission url=reprocess_url icon_class="fa fa-refresh" text="Force Reprocessing" %}
                    {% else %}
                        {% include "daas_app/button.html" with button_class="btn-warning" show=sample.is_possible_to_reprocess enable=perms.daas_app.upload_sample_permission url=reprocess_url icon_class="fa fa-refresh" text="Process with latest changes" %}
                    {% endif %}

                    {% url 'delete_sample' sample.id as delete_sample_url %}
                    {% include "daas_app/button.html" with button_class="btn-danger" show="True" enable=perms.daas_app.delete_sample_permission url=delete_sample_url icon_class="fa fa-trash-o" text="Delete" %}
                </div>


                {% if sample.result %}
                    <div id="details_of_{{ sample.id }}" class="collapse">
                        <br>
                        <div class="well" style="background: rgb(250, 250, 250);">
                            <b>Timeout:</b>  {{ sample.result.timeout }} seconds<br>
                            <b>Elapsed time:</b>  {{ sample.result.elapsed_time }} seconds<br>
                            <b>Exit status:</b> {{ sample.result.exit_status }}{% if sample.result.exit_status == 0 %} (OK){% endif %}<br>
                            <b>Decompiled: </b> {{ sample.result.decompiled }}<br>
                            <b>Decompiler: </b> {{ sample.result.decompiler }}<br>
                            <b>Output: </b><br>{{ sample.result.output }}<br>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</ul>
{% else %}
There are no samples to show.
{% endif %}
{% paginate %}
{% endblock %}