{% extends "daas_app/base.html" %}
{% load pagination_tags %}

{% block extra_head %}
    {% load staticfiles %}
    <link href="{% static "css/pagination.css" %}" rel="stylesheet">
{% endblock %}


{% block title %}DaaS{% endblock %}

{% block body %}
    {% autopaginate samples 5 as paginated %}
    {% if samples %}
        <ul>
            {% for sample in paginated %}
                <div class="panel panel-default">
                    <div class="panel-heading" style="column-count: 2;">
                        <i class="fa fa-file"></i><b>  {{ sample }}</b><p align="right">{{ sample.date }}</p>
                    </div>
                    <div class="panel-body">
                        <b>Hashes:</b>
                        <ul>
                            <li>MD5: {{ sample.md5 }}</li>
                            <li>SHA1: {{ sample.sha1 }}</li>
                            <li>SHA2: {{ sample.sha2 }}</li>
                        </ul>
                        <br>
                        {% if sample.statistics %}
                            {% if sample.statistics.decompiled %}
                                <b>Elapsed time:</b> {{ sample.statistics.elapsed_time }} seconds.
                            {% elif sample.statistics.timed_out %}
                                <b>Timeout reached</b> after {{ sample.statistics.timeout }} seconds.
                            {% else %}
                                <b>Error decompiling:</b> {{ sample.statistics.decompiler }} was not able to decompile this file.
                            {% endif %}
                        {% else %}
                            <i>Processing... </i><i class="fa fa-spinner fa-spin" style="font-size:20px"></i>
                        {% endif %}
                        </br></br>
                        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'download_sample' sample.id %}';"><i class="fa fa-download"></i>  Download Sample</button>
                        {% if sample.statistics.decompiled %}
                            <button type="button" class="btn btn-primary" onclick="location.href='{% url 'download_source_code' sample.id %}';"><i class="fa fa-file-code-o"></i>  Download Source Code</button>

                            <button data-toggle="collapse" class="btn btn-primary" data-target="#details_of_{{ sample.id }}">Details</button>


                            <button style="float: right;" type="button" class="btn btn-danger" onclick="location.href='{% url 'delete_sample' sample.id %}';"><i class="fa fa-trash-o"></i>  Delete</button>
                        {% endif %}
                        {% if sample.statistics %}
                            <div id="details_of_{{ sample.id }}" class="collapse">
                                <br>
                                <div class="well" style="background: rgb(250, 250, 250);">
                                    <b>Timeout:</b>  {{ sample.statistics.timeout }}<br>
                                    <b>Elapsed time:</b>  {{ sample.statistics.elapsed_time }}<br>
                                    <b>Exit status:</b> {{ sample.statistics.exit_status }}<br>
                                    <b>Timed out:</b> {{ sample.statistics.timed_out }}<br>
                                    <b>Decompiled: </b> {{ sample.statistics.decompiled }}<br>
                                    <b>Decompiler: </b> {{ sample.statistics.decompiler }}<br>
                                    <b>Errors: </b> None<br>
                                    <b>Output: </b><br>{{ sample.statistics.output }}<br>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        There are no samples to show.
    {% endif %}
    {% paginate %}
{% endblock %}