<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">
                DaaS
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{% url 'index' %}"><i class="fa fa-home" style="font-size:18px;"></i> Home</a></li>
            <li><a href="{% url 'upload_file' %}"><i class="fa fa-upload" style="font-size:18px;"></i> Upload File</a></li>
            <li><a href="{% url 'statistics' %}"><i class="fa fa-pie-chart" style="font-size:18px;"></i> Statistics</a></li>
            <li><a href="https://github.com/codexgigassys/daas"><i class="fa fa-github" style="font-size:18px;"></i> Souce Code</a></li>
                <li class="dropdown {% if 'upload' in request.path %}active{% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-book" style="font-size:18px;"></i>&nbsp Documentation<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://github.com/codexgigassys/daas/blob/master/README.md">Project Documentation</a></li>
                        <li><a href="{% url 'index' %}">API Documentation (not available yet!)</a></li>
                        <li><a href="https://github.com/codexgigassys/daas/blob/master/LICENSE">Licence</a></li>
                    </ul>
                </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'index' %}"><span class="badge" style="font-size: 14px;">Processed Samples: {{ samples_count }}</span></a></li>
        </ul>
    </div>
</nav>