<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">
                DaaS
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="{% if 'index' in request.path %}active{% endif %}"><a href="{% url 'index_redirect' %}"><i class="fa fa-home" style="font-size:18px;"></i> Home</a></li>
            <li class="{% if 'upload' in request.path %}active{% endif %}"><a href="{% url 'upload_file' %}"><i class="fa fa-upload" style="font-size:18px;"></i>&nbspUpload File</a></li>
            <li><a href="https://github.com/codexgigassys/daas"><i class="fa fa-github" style="font-size:18px;"></i>&nbspSource Code</a></li>
            <li class="dropdown {% if 'statistics' in request.path %}active{% endif %}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-pie-chart" style="font-size:18px;"></i>&nbspStatistics<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'samples_per_elapsed_time' %}">Elapsed time</a></li>
                    <li><a href="{% url 'samples_per_size' %}">Size</a></li>
                    <li><a href="{% url 'samples_per_type' %}">Type</a></li>
                    <li><a href="{% url 'samples_per_upload_date' %}">Upload date</a></li>
                    <li><a href="{% url 'samples_per_process_date' %}">Process date</a></li>
                    <li><a href="{% url 'samples_per_status' 'pe' %}">Decompilation status PE</a></li>
                    <li><a href="{% url 'samples_per_status' 'flash' %}">Decompilation status Java</a></li>
                    <li><a href="{% url 'samples_per_status' 'java' %}">Decompilation status Flash</a></li>
                </ul>
            </li>
            <li class="dropdown {% if 'documentation' in request.path %}active{% endif %}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-book" style="font-size:18px;"></i>&nbsp Documentation<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="https://github.com/codexgigassys/daas/blob/master/README.md">Project Documentation</a></li>
                    <li><a href="{% url 'index' %}">API Documentation (not available yet!)</a></li>
                    <li><a href="https://github.com/codexgigassys/daas/blob/master/LICENSE">Licence</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'index' %}"><span class="badge" style="font-size: 14px;">Processed Samples: {{ samples_count }}</span></a></li>
            {% if not user.is_authenticated %}
                <li><a href="/accounts/login/"><span class="glyphicon glyphicon-log-in"></span>&nbspLogin</a></li>
            {% else %}
                <li class="dropdown {% if 'upload' in request.path %}active{% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-user"></span>&nbsp {{ request.user.username }}<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if request.user.is_staff %}
                            <li><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-star"></span>&nbspAdmin Panel</a></li>
                            <li><a href="/admin/auth/user/add/"><span class="glyphicon glyphicon-star"></span>&nbspAdd New User</a></li>
                        {% endif %}
                        <li><a href="{% url 'password_change' %}"><span class="glyphicon glyphicon-cog"></span>&nbspChange Password</a></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>&nbspLogout</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>