{% extends "daas_app/base.html" %}

{% block extra_head %}
    {% load staticfiles %}
    <link href="{% static "css/statistics.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}Statistics{% endblock %}

{% block page_width %}85%{% endblock %}

{% block body %}
    <div align="center">
        <!-- ECharts import -->
        <script src="https://echarts.baidu.com/build/dist/echarts.js"></script>
        <!-- Prepare a Dom with size (width and height) for ECharts -->
        {% for chart in charts %}
        <div class="col-sm-{% if chart.full_width %}12{% else %}6{% endif %}">
            <h1>{{ chart.title }}</h1>
            <div id="{{ chart.name }}" style="height:75vh"></div>
            {% if not forloop.last %}
                <br><br>
            {% endif %}
        </div>
            <script type="text/javascript">
                // configure for module loader
                require.config({
                    paths: {echarts: 'https://echarts.baidu.com/build/dist'}
                });

                // use
                require(
                    ['echarts',
                     'echarts/chart/line',
                     'echarts/chart/{{ chart.echart_type }}'], // require the specific chart type

                    function (ec) {
                        // Initialize after dom ready
                        var myChart = ec.init(document.getElementById('{{ chart.name }}'));

                        // Load data into the ECharts instance
                        myChart.setOption({{ chart.content_as_json|safe }});
                    }
                );
            </script>
        {% endfor %}
    </div>
{% endblock %}