{% extends "daas_app/base.html" %}

{% block extra_head %}
    {% load staticfiles %}
    <link href="{% static "css/statistics.css" %}" rel="stylesheet">
{% endblock %}

{% block title %}Statistics{% endblock %}

{% block page_width %}100%{% endblock %}

{% block body %}
    <div align="center">
        <!-- ECharts import -->
        <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
        <!-- Prepare a Dom with size (width and height) for ECharts -->
        {% for chart in charts %}
            <h1>{{ chart.title }}</h1>
            <div id="{{ chart.name }}" style="height:400px"></div>
            <br><br>
            <script type="text/javascript">
                // configure for module loader
                require.config({
                    paths: {echarts: 'http://echarts.baidu.com/build/dist'}
                });

                // use
                require(
                    ['echarts',
                     'echarts/chart/bar'], // require the specific chart type

                    function (ec) {
                        // Initialize after dom ready
                        var myChart = ec.init(document.getElementById('{{ chart.name }}'));

                        // Load data into the ECharts instance
                        myChart.setOption({{ chart.content|safe }});
                    }
                );
            </script>
        {% endfor %}
    </div>
{% endblock %}