{% extends "daas_app/layout/base.html" %}

{% block title %}Upload Sample{% endblock %}

{% block body %}
    <br><br><br>
    <div class="card">
        <div class="card-header">
            <b>Upload Sample</b>
        </div>
        <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include "daas_app/abstract/form_template.html" %}
                <br>
                <div class="alert alert-info" role="alert">
                    Uploaded samples will be enqueued for metadata analysis and will not be shown on the index page
                    until that analysis is finished.
                </div>
                <button type="submit" class="btn btn-success"><i class="fa fa-upload"></i> Upload</button>
            </form>
        </div>
    </div>
{% endblock %}