.spoiler-text {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}


#search-text {
    font-size: 125%;
    padding-left: 0px;
}

.spoiler-card {
    background: #f7f7f7;
    padding: 18px;
    border: none;
}

.spoiler-wrapper {
    margin-bottom: 18px;
}