<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" >

        <title>{% block title %}-- INSERT TITLE IN "TITLE" BLOCK ---{% endblock %}</title>
        
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <!-- Bootstrap: CSS and JS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- Icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {% block extra_head %}
            <!-- add extra js and css files here -->
        {% endblock %}
    </head>

    <body data-spy="scroll" data-target="#header">
        {% include 'daas_app/layout/navbar.html' %}
            <div class="container align-items-center" style="width:{% block page_width %}72%{% endblock %};">
                <div class="row">
                    <div class="col-md-12">
                        <br><br>
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
    </body>
</html>