{% load static %}
<link href="{% static "css/navbar.css" %}{{ release_number }}" rel="stylesheet">

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">DaaS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if 'index' in request.path %}active{% endif %}">
                <a class="nav-link" href="{% url 'index_redirect' %}"><i class="fa fa-home" style="font-size:18px;"></i>&nbspHome</a>
            </li>
            <li class="nav-item {% if 'upload' in request.path %}active{% endif %}">
                <a class="nav-link" href="{% url 'upload_file' %}"><i class="fa fa-upload" style="font-size:18px;"></i>&nbspUpload File</a>
            </li>
            <li class="nav-item dropdown {% if 'statistics' in request.path %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-pie-chart" style="font-size:18px;"></i>&nbspStatistics<span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'samples_per_elapsed_time' %}">Elapsed time</a>
                    <a class="dropdown-item" href="{% url 'samples_per_size' %}">Size</a>
                    <a class="dropdown-item" href="{% url 'samples_per_type' %}">Type</a>
                    <a class="dropdown-item" href="{% url 'samples_per_upload_date' %}">Upload date</a>
                    <a class="dropdown-item" href="{% url 'samples_per_process_date' %}">Process date</a>
                    <a class="dropdown-item" href="{% url 'samples_per_status' 'pe' %}">Decompilation status C#</a>
                    <a class="dropdown-item" href="{% url 'samples_per_status' 'flash' %}">Decompilation status Flash</a>
                    <a class="dropdown-item" href="{% url 'samples_per_status' 'java' %}">Decompilation status Java</a>
                </div>
            </li>
            <li class="nav-item dropdown {% if 'documentation' in request.path %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-book" style="font-size:18px;"></i>&nbsp Documentation<span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://github.com/codexgigassys/daas/blob/master/README.md">Project Documentation</a>
                    <a class="dropdown-item" href="{% url 'schema-redoc' %}">API Documentation</a>
                    <a class="dropdown-item" href="https://github.com/codexgigassys/daas/blob/master/LICENSE">Licence</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/codexgigassys/daas"><i class="fa fa-github" style="font-size:18px;"></i>&nbspSource Code</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                    <i class="fa fa-bug" style="font-size:18px;"></i>&nbspUploaded Samples: {{ samples_count }}
                </a>
            </li>
            {% if not user.is_authenticated %}
                <li class="nav-item"><a href="/accounts/login/"><span class="glyphicon glyphicon-log-in"></span>&nbspLogin</a></li>
            {% else %}
                <li class="nav-item dropdown {% if 'upload' in request.path %}active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user" style="font-size:18px"></i>&nbsp {{ request.user.username }}<span class="caret"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        {% if request.user.is_staff %}
                            <a class="dropdown-item" href="{% url 'admin:index' %}"><i class="fa fa-cog" style="font-size:18px"></i>&nbsp&nbsp&nbspAdmin Panel</a>
                            <a class="dropdown-item" href="/admin/auth/user/add/"><i class="fa fa-plus" style="font-size:18px"></i>&nbsp&nbsp&nbspAdd New User</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'password_change' %}"><i class="fa fa-lock" style="font-size:18px"></i>&nbsp&nbsp&nbspChange Password</a>
                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out" style="font-size:18px"></i>&nbsp&nbspLogout</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
